\doxysection{home-\/hub/\+managed\+\_\+components/\+lvgl\+\_\+\+\_\+lvgl/\+scripts/\+kconfig\+\_\+verify.py File Reference}
\hypertarget{kconfig__verify_8py}{}\label{kconfig__verify_8py}\index{home-\/hub/managed\_components/lvgl\_\_lvgl/scripts/kconfig\_verify.py@{home-\/hub/managed\_components/lvgl\_\_lvgl/scripts/kconfig\_verify.py}}
\doxysubsubsection*{Namespaces}
\begin{DoxyCompactItemize}
\item 
namespace \doxymbox{\hyperlink{namespacekconfig__verify}{kconfig\+\_\+verify}}
\end{DoxyCompactItemize}
\doxysubsubsection*{Functions}
\begin{DoxyCompactItemize}
\item 
\doxymbox{\hyperlink{namespacekconfig__verify_a808aaa8e29dedc97fc0c70f197e03a59}{verify\+\_\+kconfig}} (kconfig\+\_\+file)
\item 
\doxymbox{\hyperlink{namespacekconfig__verify_a0207e9e7381d2fb6c678eafac282b599}{check\+\_\+kconfig\+\_\+spaces}} (file\+\_\+path)
\end{DoxyCompactItemize}
